# Stellar Network
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
HORIZON_URL=https://horizon-testnet.stellar.org

# Contract Addresses (deployed on testnet)
MARKET_FACTORY_CONTRACT_ID=CDI5OD7DJPVMYN23HYHL4MOKT6F5NWXRB4QWJXUUTRDLT3XWOWUUALBO
POSITION_VAULT_CONTRACT_ID=CASVZNP3EOXIFQNWKLNU44VINHSZRAQIGF5CW24P6XIPDM7U2R4W6EDZ
SETTLEMENT_CONTRACT_ID=CBIMDLGZBUH6QBSGM5V5MRIW5US6ZFJOH2XYPCOJY7VEDADXMBZMWXLL
REPUTATION_CONTRACT_ID=CBOW7U34OSOVAZP4QE5AW2AWOR7JZWXHT7H5SIH2ZXGDOSINBMETMXWC
REGISTRY_CONTRACT_ID=CC2YXV2DHQXUMJOEMOS5KTGS3EFGALTDPLE4T5IARPNTQ5L7LGVNTYLI

# USDC on Testnet
USDC_CONTRACT_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA

# Backend (NestJS)
DATABASE_URL=postgresql://predictfi:password@localhost:5432/predictfi
REDIS_URL=redis://localhost:6379
JWT_SECRET=your-super-secret-jwt-key-change-in-production
API_PORT=4000
CORS_ORIGIN=http://localhost:3000

# Admin
ADMIN_WALLET_SECRET=your-admin-wallet-secret-key
ADMIN_WALLET_PUBLIC=your-admin-wallet-public-key

# Frontend (Next.js)
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_MARKET_FACTORY_CONTRACT=CDI5OD7DJPVMYN23HYHL4MOKT6F5NWXRB4QWJXUUTRDLT3XWOWUUALBO
NEXT_PUBLIC_POSITION_VAULT_CONTRACT=CASVZNP3EOXIFQNWKLNU44VINHSZRAQIGF5CW24P6XIPDM7U2R4W6EDZ
NEXT_PUBLIC_SETTLEMENT_CONTRACT=CBIMDLGZBUH6QBSGM5V5MRIW5US6ZFJOH2XYPCOJY7VEDADXMBZMWXLL
NEXT_PUBLIC_REPUTATION_CONTRACT=CBOW7U34OSOVAZP4QE5AW2AWOR7JZWXHT7H5SIH2ZXGDOSINBMETMXWC
NEXT_PUBLIC_REGISTRY_CONTRACT=CC2YXV2DHQXUMJOEMOS5KTGS3EFGALTDPLE4T5IARPNTQ5L7LGVNTYLI
NEXT_PUBLIC_USDC_CONTRACT=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
